h1 { 
  border-style: solid;   /*   border: 3px solid black;*/
  border-width: 4px;
  border-color:blanchedalmond ;
  border-radius: 15px;  
}

p {
  border-bottom: 3px solid red ;
  border-top : 2px dotted orange;
  border-right:  3px dotted green;
}

#p2  { 
  text-shadow: 3px 3px 5px red, -3px -3px 5px blue;  
                          /* o  primeiro numero é a sombra horizontal 
                            o segundo é a sombra vertical
                            o terceiro é o desfocado
                            podemos ter várias sombras */
}

#box1 {
  width: 100px;
  height: 100px;
  background-color: white;
  box-shadow:  3px 3px 5px ;
}
