body{
  margin: 0px;
  border: 3px solid;
  display:flow-root;
}

.box{
  border: 5px solid ;
  font-size: 5em;
  width: 250px;
  height: 250px;
}

#box1{
  background-color: red;
  margin-bottom: 50px ;
}

#box2 {
  background-color: blue;
  margin-left: auto;
}

#img1 {
  float: left;
  margin-right: 10px;
}

#img2 {
  float: right;
  margin-left: 10px;
}

#div1{
  border: 2px solid; 
  height: 75px;
  overflow: scroll;
}